@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "AvenirNextLTPro";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
