@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "AvenirNextLTPro";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Nunito';
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
h3{
  font-size: 2rem;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  @layer base {
    @font-face {
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("../assets/fonts/Nunito-Regular.ttf") format("truetype")
    }
    @font-face {
      font-family: 'Nunito';
      font-style:normal;
      font-weight: 600;
      font-display: swap;
      src: url("../assets/fonts/Nunito-SemiBold.ttf") format("truetype")
    }
    @font-face {
      font-family: 'Nunito';
      font-style:normal;
      font-weight: 700;
      src: url("../assets/fonts/Nunito-Bold.ttf") format("truetype")
    }
  }
}
